body {
    background-color: #777;
}
.inner {
    width: 100%;
    margin: 0 auto;
    top:0;
}

a {
    text-decoration: none;
}


header {
    width: 100%;
    background-color: #777;
    border-bottom: 1px solid black;
}


header .title {
    font-size: 30px;
    color : #333;
    text-align: center;
}

header .search {
    height: 50px;
    text-align: center;
}

header .search input {
    width: 200px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #333;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    color: #777;
    font-size: 12px;
}

header .search button {
    width: 50px;
    height: 34px;
    color: #777;
    background-color: #fff;
}
header .search button:hover {
    background-color: #d49466;
    border-radius: 4px;
}



.main {
    padding-top: 10px;
    height: 100%;
    background-color: green;
    justify-content: space-between;
    align-items: center;
    

}
.main .movieCards {
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr .5fr .5fr;
    grid-row-gap: 20px;
    
}
.main .movieCards .container{
    margin: auto;
    padding-top: 10px;
    align-content: center;
    text-align: cneter;
    border: 3px solid #333;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 2px;
  

}

.main .movieCards .container .card {
    width: 350px;
    height: 750px;
    align-items: center;
    text-align: center;
    font: #e5e5e5;
}
.main .movieCards .container .card .radius_img {
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .main {
        flex-direction: column;
    }
    .movieCards {
        flex-direction: column;
        width: 100%;
    }
}
