a {
    text-decoration: none;
  }
  .inner {
    width: 1300px;
    margin: 0 auto;
    position: relative;
  }

/* Header */

header {
    background-image: url(../images/main_menu_pattern.jpg);
    width: 100%;
    position: relative;
    background-color: gray;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
    top: 0;
    z-index: 9;
}

header >.inner {
    height: 140px;
}
header .title {
    font-size: 35px;
    color: white;
    top: 50%;
    padding-left: 35%;
    margin: flex;
    position: relative;
}
header .sub-menu {
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
}
header .sub-menu ul.menu {
    font-weight: 50px;
    font-family: Arial, sans-serif;
    list-style:none;
    display: flex;
}
header .sub-menu ul.menu li {
    position: relative;
}
header .sub-menu ul.menu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: silver;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

}
header .sub-menu ul.menu li:first-child::before {
    display: none;
}
header .sub-menu ul.menu li a {
    font-size: 15px;
    padding: 11px 16px;
    display: block;
    color: red;
}
header .sub-menu ul.menu li a.green {
    color: #fff;
}
header .sub-menu ul.menu li a:hover {
    color: #000;
}
header .sub-menu .search {
    top: 5px;
    height: 35px;
    position: relative;
}
header .sub-menu .search input {
    width: 35px;
    height: 20px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width .4s;
}
header .sub-menu .search input:focus {
    width: 190px;
    border-color: #669900;
}
header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}